

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    max-width: 812px;
    margin: 0 auto;
    position: relative;
}

#githubLink {
    position: absolute;
    right: 0;
    top: 12px;
    color: #2D99FF;
}

h1 {
    margin: 10px 0;
    font-size: 40px;
}

#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}

.hidden {
    display: none;
}

  #mainNav ul
{
  display: none;
  margin-top: 30px;
  background-position:right top;
  
  
}

#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  background-position: right top;
  width: 30px;
  height: 30px;
  transition: all 400ms ease;
  border: 0;
  margin: 20px;
  margin-left: 760px;

}

#mainNav ul.slideToggle
{
  display: block;
}

#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainNav li a
{
  background-color: #fff;
  display: block;
  padding: 10px 0 10px 0;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

#mainNav li 
{
  border-bottom: 1px solid #333;
}

#mainNav li:last-child
{
  margin-bottom: 20px;
}

#mainNav li:first-child
{
  border-top: 1px solid #333;
}

.logoWrapper
{
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
}

.logoWrapper img
{
    margin: 20px auto;
    margin-bottom: 80px;
}
