*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #333;  
}

.mainContainer
{
    overflow-x: hidden;
    margin-top: 20px;
    margin: 0 auto;
    position: relative;
}

#githubLink {
    position: absolute;
    right: 0;
    top: 12px;
    color: #2D99FF;
}

h1 {
    margin: 10px 0;
    font-size: 40px;
}

p
{
    line-height: 50px;
    color: #333;
}

#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}

.hidden {
    display: none;
}


.logoWrapper {
    margin-left: 20px;
}

.logoWrapper {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
}

.logoWrapper img {
    margin-left: 200px;
    margin: 20px auto;
    margin-bottom: 80px;
}

.potImg {
    width: 800px;
    height: 800px;
    /* background-color: rgb(184, 184, 184); */
    margin-top: 10vh;
    margin: 0 auto;
}

.circle {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.circ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    /* background-color: rgb(128, 128, 128); */
    border-radius: 50%;
    margin-top: 200px;
    /* margin-bottom: 100px; */
    opacity: 1;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
}


.vertLine {
    height: 0px;
    width: 3px;
    margin-top: 350px;
    margin-left: 12%;
    margin-right: 15%;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    /* margin-right: 200px; */
    background-color: rgb(0, 0, 0);
}

.vertLine.scroll-anim {
    margin-top: 200px;
    height: 400px;
}

.measure {
    width: 3%;
    margin-left: 12%;
    margin-top: 37%;
}

.potSize {
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.potSize p {
    text-align: center;
    font-weight: 400;
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 2rem;
    line-height: 4.5rem;
    margin: 0 auto;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    opacity: 0;
    /* padding-left: 20px; */
}

.potSize p.scroll-anim {
    opacity: 1;
}

.potInfo {
    margin-bottom: 55vh;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    opacity: 0;
}

.potInfo.scroll-anim {
    opacity: .9;
}

.potInfo h2 {
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.potInfo p {
    width: 80%;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 400;   
    line-height: 4.5rem;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.potInfo_2 {
    margin-top: 30vh;
    margin-bottom: 30vh;
    /* margin-left: -100px; */
}

.potInfo_2 p {
    width: 55%;
    height: 197px;
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 400;
    margin-bottom: -50%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 2s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    opacity: 0;
}

.potInfo_2 p.textimg1-anim {
    opacity: 1;
    transform: translateX(22%)
}

.img_1 {
    position: relative;
    height: 1000px;
    width: 500px;
    /* border-radius: 1000px 0 0 1000px; */
    /* background: rgb(147, 147, 147); */
    left: 55%;
    margin-top: 200px;
    /* margin-right: -20px; */
    opacity: 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
}

.img_1.scroll-img1 {
    opacity: 1;
    z-index: -1;
}

.potInfo_3 {
    margin-top: 50vh;
    
}

.potInfo_3 p {
    position: absolute;
    width: 80%;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 4.5rem;
    margin-top: 25%;
    margin-left: 10%;
    /* margin-top: 200px; */
    color: white;
    transition: all 2s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 2s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    opacity: 0;
}

.potInfo_3 p.textimg2-anim {
    opacity: 1;
}

.img_2 {
    position: relative;
    width: 100%;
    height: 840px;
    /* background-color: rgb(184, 184, 184); */
    opacity: 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    z-index: -1;
}

.img_2.scroll-img2 {
    opacity: 1;
    transform: translate(0%, 6%) matrix(2, 0, 0, 1, 0, 0)
}

/*.potInfo_4 {
    margin-top: 55vh;
    /*     margin-left: -35px; */
/*}

.potInfo_4 p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* margin-top: 200px; */
    /*margin-bottom: -750px;
    font-size: 35px;
    /* font-weight: bold; */
    /*line-height: 65px;
    /* font-weight: 2px; */
    /*width: 700px;
    /*margin-left: 140px;
    color: white;
/*}

.img_3 {
    width: 900px;
    height: 900px;
    background-color: rgb(184, 184, 184);
    /* margin-top: 40px; */
    /*margin-left: 35px;
}*/

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 8vh;
    margin-top: 25vh;
    text-align: center;
    border-top: solid 1px black;
    bottom: 0;
}

footer small {
    color: black;
    font-size: 2rem;
    margin: 0 auto;
}

/* New Hamburger CSS */

.nav
{
	display: flex;
	justify-content: space-around;
	align-items: center;
    min-height: 8vh;
}

.nav-links
{
	display: none;
	position: absolute;
	left: 0px;
	width: 60%;
	justify-content: space-around;
}

.nav-links li 
{
	list-style: none;
	text-transform: uppercase;
}

/* hamburger text size */
.nav-links a
{
	letter-spacing: 1.5px;
	text-decoration: none;
	color: white;
    font-size: 3rem;
    font-weight: 100;

}

/* hide the burger in tablet */
.burger
{
	cursor: pointer;
}

/* hambruger lines */
.burger div
{
	width: 50px;
	height: 4px;
	margin: 7px;
	background-color: black;
}


/*  hamburger menu styling/posisioning */
.nav-links
{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* move the container off the screen */
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

/* hide the nav link before the slide out */
.nav-links li 
{
    opacity: 0;
}

.burger
{
    display: block;
    position: absolute;
    right: 0px;
    margin-right: 40px;
}



.nav-active
{
    transform: translateX(0)
}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px)
    }
    to
    {
        opacity: 1;
        transform: translateX(0px)

    }
}

.toggle .line1
{
    transform: rotate(-45deg translateX(-5px,6px));
}

.toggle .line2
{
    transform: rotate(45deg translateX(-5px,-6px));
}

.itemTitle
{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.itemTitle h3
{
    text-transform: uppercase;
    font-size: 4.75rem;
    letter-spacing: 0.25rem;
    font-weight: 700;
}

/* adjsuting hte image size */
.detailedFeature
{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background-color: black;
  
}

/* target the image sizing */
.detailedImage
{
    width: 80%;
    height: auto;
}

/* make text strong */
strong {
    font-weight: bold;
 }

 /* qr code instruction */
.qr-instruction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-top: 80px;
}

.qr-instruction section
{
    text-align: center;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 60px;
}

.instruction-title
{
    font-size: 7vw;
    font-weight: 400; 
    margin-top: 30px;
    margin-bottom: 20px;   
}

.qr-instruction div
{
        width: 50%;
        height: auto;
        margin: 0 auto;
}

/* center text */
#outputMessage
{
    text-align: center;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mainContainer 
    {
        width: 850px;
    }

    .measure
    {
        width: 3%;
        margin-left: 12%;
        margin-top: 26%;
    }
  }