

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    max-width: 812px;
    margin: 0 auto;
    position: relative;
    /* padding: 20px; */
    /* align-items: center; */
    text-align: center;
    max-width: 812px;
}

#githubLink {
    position: absolute;
    right: 0;
    top: 12px;
    color: #2D99FF;
}

h1 {
    margin: 10px 0;
    font-size: 40px;
}

#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}

.hidden {
    display: none;
}


#mainNav ul
{
  display: none;
  margin-top: 30px;
  background-position:right top;
  
  
}

#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  background-position: right top;
  width: 30px;
  height: 15px;
  transition: all 400ms ease;
  border: 0;
  margin: 10px;
  margin-left: 760px;
  margin-top: 30px;

}

#mainNav ul.slideToggle
{
  display: block;
  font-size: 24px;
}

#mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mainNav li a
{
  background-color: #fff;
  display: block;
  padding: 10px 0 10px 0;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

#mainNav li 
{
  border-bottom: 1px solid #333;
}

#mainNav li:last-child
{
  margin-bottom: 20px;
}

#mainNav li:first-child
{
  border-top: 1px solid #333;
}

.details {
    margin-left: -80px;
}

#mainNav ul {
    display: none;
    margin-top: 30px;
    background-position: right top;
}

#mainNav button {
    background: url(../images/burger.svg) center no-repeat;
    background-position: right top;
    width: 30px;
    height: 30px;
    transition: all 400ms ease;
    border: 0;
    margin: 20px;
    margin-left: 760px;
}

#mainNav ul.slideToggle {
    display: block;
}

#mainNav button.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#mainNav li a {
    background-color: #fff;
    display: block;
    padding: 10px 0 10px 0;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#mainNav li {
    border-bottom: 1px solid #333;
}

#mainNav li:last-child {
    margin-bottom: 20px;
}

#mainNav li:first-child {
    border-top: 1px solid #333;
}

.logoWrapper {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
}


.logoWrapper img
{
    margin: 20px auto;
    margin-bottom: 80px;
}

.potImg {
    width: 800px;
    height: 800px;
    background-color: rgb(184, 184, 184);
    margin-top: 10vh;
    margin-left: 88px;
}

.circle {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.circ {
    height: 400px;
    width: 400px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 200px;
    /* margin-bottom: 100px; */
    opacity: 0;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
}

.circ.scroll-anim {
    opacity: 1;
}

.vertLine {
    height: 400px;
    width: 3px;
    margin-top: 200px;
    margin-left: 170px;
    margin-right: 150px;
    /* margin-right: 200px; */
    background-color: rgb(0, 0, 0);
}

.potSize {
    margin-top: 30vh;
    margin-bottom: 40vh;
}

.potSize p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 45px;
    margin-left: 80px;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    opacity: 0;
    /* padding-left: 20px; */
}

.potSize p.scroll-anim {
    opacity: 1;
}

.potInfo {
    margin-bottom: 55vh;
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    opacity: 0;
}

.potInfo.scroll-anim {
    opacity: .9;
}

.potInfo h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    font-size: 3vw;
    font-weight: bold;
    line-height: 45px;
    margin-left: 90px;
}

.potInfo p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 35px;
    /* font-weight: bold; */
    line-height: 65px;
    width: 800px;
    margin-left: 90px;
}

.potInfo_2 {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.potInfo_2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 55px;
    width: 500px;
    height: 197px;
    margin-top: 200px;
    margin-bottom: -500px;
    margin-left: 250px;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 2s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    opacity: 0;
    

}

.potInfo_2  p.textimg1-anim {
    opacity: 1;
    transform: translateX(10%)
    
}

.img_1 {
    position: relative;
    height: 1000px;
    width: 500px;
    border-radius: 1000px 0 0 1000px;
    background: rgb(147, 147, 147);
    margin-left: 90%;
    margin-top: 100px;
    opacity: 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
}

.img_1.scroll-img1 {
    opacity: 1;
    transform: translateX(-60%);
    z-index: -1;

}

.potInfo_3 {
    margin-top: 50vh;
}

.potInfo_3 p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* margin-top: 200px; */
    margin-bottom: -625px;
    font-size: 35px;
    /* font-weight: bold; */
    line-height: 65px;
    /* font-weight: 2px; */
    width: 700px;
    margin-left: 13.5vw;
    color: white;

    transition: all 2s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 2s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    opacity: 0;
    

}

.potInfo_3  p.textimg2-anim {
    opacity: 1;
    transform: translateX(10%)
    
}
    


.img_2 {
    position: relative;
    width: 840px;
    height: 840px;
    background-color: rgb(184, 184, 184);
    /* margin-top: 40px; */
    margin-left: 70px;
    opacity: 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    position: relative;
    z-index: -1;
}
.img_2.scroll-img2 {
    opacity: 1;
    transform: translate(0%, 6%) matrix(2, 0, 0, 1, 0, 0)
    
    

}

.potInfo_4 {
    margin-top: 55vh;
}

.potInfo_4 p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* margin-top: 200px; */
    margin-bottom: -750px;
    font-size: 35px;
    /* font-weight: bold; */
    line-height: 65px;
    /* font-weight: 2px; */
    width: 700px;
    margin-left: 150px;
    color: white;
}

.img_3 {
    width: 980px;
    height: 1040px;
    background-color: rgb(184, 184, 184);
    /* margin-top: 40px; */
    /* margin-left: 0px; */
}

/* Animation box slide left to right  */

